<p id="notice"><%= notice %></p>
<div class="row">
  <div id="article_title" class="center">
    <h1><%= @article.name %></h1>
    <%= link_to 'Edit', edit_article_path(@article), :id => "edit_article_button", :class => "btn btn-primary", role: "button" %>
  </div>
</div>
<div class="row" id="article_body">
  <%= @article.body %>
</div>
